<div class="flex flex-col py-3 px-4 bg-white shadow-sm rounded-md border bg-gradient-to-r from-slate-50 to-sky-50/60">
  <h1 class="text-lg font-medium mb-2">Select data display period</h1>
  <div class="felx flex-row space-x-2 items-center">
    <button (click)="onClick('today')"  [ngClass]="selectedRange === 'today' ? rangeBtnSelClasses : rangeBtnBaseClasses" class="px-3 py-1 rounded-lg shadow-sm font-medium text-sm">Today</button>
    <button (click)="onClick('week')"   [ngClass]="selectedRange === 'week' ? rangeBtnSelClasses : rangeBtnBaseClasses" class="px-3 py-1 rounded-lg shadow-sm font-medium text-sm">This Week</button>
    <button (click)="onClick('last200')" [ngClass]="selectedRange === 'last200' ? rangeBtnSelClasses : rangeBtnBaseClasses" class="px-3 py-1 rounded-lg shadow-sm font-medium text-sm">Last 200</button>
  </div>
</div>
